.gc-button.active{
	fill:#00FF00 !important;
}
.gc-button.trigger-active{
	fill:#00FF00  !important;
}
.gc-button.active *{
	fill:#00FF00  !important;
}
.gc-button.active text *{
	fill:#FFF  !important;
}
.gc-button.active .label{
	fill:#FFF  !important;
}
.gc-analog.active {
	background:#00FF00;
}
.gc-cstick.active {
	background:#00FF00;
}