.gc-button.active{
	fill:#FF0000 !important;
}
.gc-button.trigger-active{
	fill:#FF0000  !important;
}
.gc-button.active *{
	fill:#FF0000  !important;
}
.gc-button.active text *{
	fill:#FFF  !important;
}
.gc-button.active .label{
	fill:#FFF  !important;
}
.gc-analog.active {
	background:#FF0000;
}
.gc-cstick.active {
	background:#FF0000;
}