.gc-button.active{
	fill:#ff4ca6 !important;
}
.gc-button.trigger-active{
	fill:#ff4ca6  !important;
}
.gc-button.active *{
	fill:#ff4ca6  !important;
}
.gc-button.active text *{
	fill:#FFF  !important;
}
.gc-button.active .label{
	fill:#FFF  !important;
}
.gc-analog.active {
	background:#ff4ca6;
}
.gc-cstick.active {
	background:#ff4ca6;
}