<div class='ojd-modal-wrapper'>

	<div class='ojd-modal' style='width:700px;'>
		<div class='ojd-modal-handler'>
			About Open Joystick Display
			<button class='ojd-modal-close'><i class='fas fa-fw fa-times'></i></button>
		</div>
		<div class='ojd-modal-content'>
			<img src='../../app/images/logo.png' alt='Open Joystick Display'/> <br/>
			<p>
				<strong>Version:</strong> <span class='ojd-version'></span><br/>
				<strong>Website:</strong> <a class='ojd-external-link' href='https://ojdproject.com'>https://ojdproject.com</a><br/>
			</p><br/><br/>
			
			<strong>Credits:</strong>
			<div class='ojd-modal-credits'>
				<h2>Core Development:</h2> 
                <p>Anthony Mattera (KernelZechs)</p>

                <div class='space'></div>
                <h2>Contributors:</h2> 
                <h3>OJD Server NX, Controller/Hardware Support:</h3>
                <p>Nichole Mattera <a class='ojd-external-link' href='https://github.com/NicholeMattera'>GitHub</a></p>

                <h3>Racing Wheel Debugging/Testing:</h3>
                <p>Bernat <a class='ojd-external-link' href='https://github.com/berarma'>GitHub</a></p>
                <p>leillo1975 <a class='ojd-external-link' href='https://github.com/leillo1975'>GitHub</a></p>

                <h3>Smashbox / Hitbox Themes:</h3>
                <p>Dylan 'Luberry' Kozicki <a class='ojd-external-link' href='https://github.com/Luberry'>GitHub</a></p>

                <div class='space'></div>
				<h2>RetroSpy:</h2> 
				<p>RetroSpy Copyright &copy; 2018 Christopher J. Mallery &lt;http://www.zoggins.net&gt;. NintendoSpy Copyright &copy; 2014 Jeremy Burns</p>
				<p>Original NintendoSpy implimentation by Jeremy Burns (jaburns). <a class='ojd-external-link' href='https://github.com/jaburns/NintendoSpy'>GitHub</a></p>
				<p>RetroSpy fork by Christopher J. Mallery (zoggins). <a class='ojd-external-link' href='https://github.com/zoggins/RetroSpy'>GitHub</a></p>
				<p>Open Joystick Display port by Anthony Mattera (KernelZechs) <a class='ojd-external-link' href='https://github.com/RetroWeeb'>GitHub</a></p>
                <p>SmashBoxLEDSpy Open Joystick Display port by Dylan 'Luberry' Kozicki <a class='ojd-external-link' href='https://github.com/Luberry'>GitHub</a></p>

                <div class='space'></div>
				<h2>My Single Patreon Backer:</h2>
                <p>Yuliya</p>

                <div class='space'></div>
				<h2>Special Thanks To:</h2>
				<ul>
					<li>My wonderful wife Yuzu.</li>
					<li>My supportive friends and family.</li>
					<li>... and streamers everywhere!</li>
				</ul>
			</div>

			<p>
				<strong>Legal Notice:</strong><br/>
				All copyrights outside of Open Joystick Display are owned by their respective copyright owners. Open Joystick Display is in no way affilated with any company (Microsoft, Nintendo, Sony, Sega, etc.) and any image or likeness is used under 'fair use' doctrine. For more information on fair use, please visit the <a class='ojd-external-link'  href='https://www.copyright.gov/fair-use/more-info.html'>U.S. copyright office website</a>.
			</p>

			<p>For more information on technologies used, please visit: <a class='ojd-external-link' href='https://ojdproject.com/license'>https://ojdproject.com/license</a></p>
		</div>
	</div>

</div>