<div class='ojd-modal-wrapper'>

	<div class='ojd-modal' style='width:700px;'>
		<div class='ojd-modal-handler'>
			About Open Joystick Display
			<button class='ojd-modal-close'><i class='fas fa-fw fa-times'></i></button>
		</div>
		<div class='ojd-modal-content'>
			<img src='../../app/images/logo.png' alt='Open Joystick Display'/> <br/>
			<p>
				<strong>Version:</strong> <span class='ojd-version'></span><br/>
				<strong>Website:</strong> <a class='ojd-external-link' href='https://ojdproject.com'>https://ojdproject.com</a><br/>
				<strong>Patreon:</strong> <a class='ojd-external-link' href='https://www.patreon.com/openjoystickdisplay'>https://www.patreon.com/openjoystickdisplay</a>
			</p><br/><br/>
			
			<strong>Credits:</strong>
			<div class='ojd-modal-credits'>
				<p><strong>Core Development:</strong><br/> Anthony 'Dragoni' Mattera (RetroWeeb)</p>

				<p><strong>Contributors:</strong><br/> Steven Mattera (Various Hardware and Controllers) <a class='ojd-external-link' href='https://github.com/StevenMattera'>GitHub</a></p>

				<p><strong>Patreon Backers:</strong><br/> Yuliya</p>

				<p><strong>Special Thanks To:</strong></p>
				<ul>
					<li>My wonderful wife Yuzu.</li>
					<li>My supportive friends and family.</li>
					<li>YouTuber <a class='ojd-external-link'  href='https://www.youtube.com/channel/UCuSh1X0HqVXewI0vDS4-YTg'>Van Paugam</a> (All the Japanese city pop keeps me sane while I code)</li>
					<li><a class='ojd-external-link'  href='https://alttpr.com/en'>The Link to the Past Randomizer community</a> (For making me want to do this in the first place)</li>
					<li>... and streamers everywhere!</li>
				</ul>
			</div>

			<p><strong>License:</strong></p>
			<pre>
Copyright (c) 2019 Open Joystick Display Project, Anthony 'Dragoni' Mattera (RetroWeeb)

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:

1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in
   the documentation and/or other materials provided with the
   distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived
   from this software without specific prior written permission.

4. Redistributions of any form whatsoever must retain the following
   acknowledgment: 'This product includes software developed by
   "Open Joystick Display Project and 'Anthony 'Dragoni' Mattera' 
   (http://www.ojdproject.com/)."

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

			</pre>

			<p>
				<strong>Legal Notice:</strong><br/>
				All copyrights outside of Open Joystick Display are owned by their respective copyright owners. Open Joystick Display is in no way affilated with any company (Microsoft, Nintendo, Sony, Sega, etc.) and any image or likeness is used under 'fair use' doctrine. For more information on fair use, please visit the <a class='ojd-external-link'  href='https://www.copyright.gov/fair-use/more-info.html'>U.S. copyright office website</a>.
			</p>

			<p>For more information on technologies used, please visit: <a class='ojd-external-link' href='https://ojdproject.com/license'>https://ojdproject.com/license</a></p>
		</div>
	</div>

</div>