<div class='ojd-sidebar-flex-columns'>

	<div class='ojd-sidebar-handle'>Input Tester</div>
	<div class='ojd-sidebar-section-header'>Information</div>

	<div class='ojd-sidebar-section ojd-sidebar-subsection'>
		<div class='ojd-sidebar-subsection-content'>
			<div class='ojd-sidebar-subsection-division'>
				Some Joystick Information
			</div>
		</div>
	</div>


	<div class='ojd-sidebar-flex-columns-wrapper'>
		<div class='ojd-flex-static' style='width:300px'>
			<div class='ojd-sidebar-section-header'>Buttons</div>
			
			<div class='ojd-sidebar-section ojd-sidebar-subsection'>
				<div class='ojd-sidebar-subsection-content'>
					<div class='ojd-sidebar-subsection-division'>
						<div class='ojd-tester-button ojd-tester-active'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
						<div class='ojd-tester-button'>1</div>
					</div>
				</div>
			</div>

		</div>
		<div class='ojd-flex-static'>
			<div class='ojd-sidebar-section-header'>Two Dimensional Axis View</div>


			<div class='ojd-sidebar-section ojd-sidebar-subsection'>
				<div class='ojd-sidebar-subsection-content'>
					<div class='ojd-sidebar-subsection-division'>
						<div class='ojd-inline-group ojd-tester-directional-group '>
							<div class='ojd-tester-directional-wrapper'>
								<div class='ojd-tester-directional'></div>
							</div>
							<div>
								<label class='ojd-label'>X Axis 0:</label>
								<input class='ojd-input' type='text'/>
							</div>
							<div>
								<label class='ojd-label'>Y Axis 0:</label>
								<input class='ojd-input' type='text'/>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class='ojd-flex-grow'>
			<div class='ojd-sidebar-section-header'>One Dimensional Axis View</div>

			<div class='ojd-sidebar-section ojd-sidebar-subsection'>
				<div class='ojd-sidebar-subsection-content'>
					<div class='ojd-sidebar-subsection-division'>

						<div class='ojd-inline-group ojd-tester-trigger-group '>
							<div class='ojd-sidebar-flex-row'>
								<div class='ojd-flex-static'>
									<label class='ojd-label'>Axis 1:</label>
								</div>
								<div class='ojd-flex-static'>
									<div class='ojd-tester-trigger-wrapper'>
										<div class='ojd-tester-trigger'></div>
									</div>
								</div>
								<div class='ojd-flex-static'>
									<input class='ojd-input' type='text'/>
								</div>
							</div>
						</div>
						<div class='ojd-inline-group ojd-tester-trigger-group '>
							<div class='ojd-sidebar-flex-row'>
								<div class='ojd-flex-static'>
									<label class='ojd-label'>Axis 1:</label>
								</div>
								<div class='ojd-flex-static'>
									<div class='ojd-tester-trigger-wrapper'>
										<div class='ojd-tester-trigger' style='width:50%'></div>
									</div>
								</div>
								<div class='ojd-flex-static'>
									<input class='ojd-input' type='text'/>
								</div>
							</div>
						</div>
						<div class='ojd-inline-group ojd-tester-trigger-group '>
							<div class='ojd-sidebar-flex-row'>
								<div class='ojd-flex-static'>
									<label class='ojd-label'>Axis 1:</label>
								</div>
								<div class='ojd-flex-static'>
									<div class='ojd-tester-trigger-wrapper'>
										<div class='ojd-tester-trigger' style='width:50%'></div>
									</div>
								</div>
								<div class='ojd-flex-static'>
									<input class='ojd-input' type='text'/>
								</div>
							</div>
						</div>
						<div class='ojd-inline-group ojd-tester-trigger-group '>
							<div class='ojd-sidebar-flex-row'>
								<div class='ojd-flex-static'>
									<label class='ojd-label'>Axis 1:</label>
								</div>
								<div class='ojd-flex-static'>
									<div class='ojd-tester-trigger-wrapper'>
										<div class='ojd-tester-trigger' style='width:50%'></div>
									</div>
								</div>
								<div class='ojd-flex-static'>
									<input class='ojd-input' type='text'/>
								</div>
							</div>
						</div>
						<div class='ojd-inline-group ojd-tester-trigger-group '>
							<div class='ojd-sidebar-flex-row'>
								<div class='ojd-flex-static'>
									<label class='ojd-label'>Axis 1:</label>
								</div>
								<div class='ojd-flex-static'>
									<div class='ojd-tester-trigger-wrapper'>
										<div class='ojd-tester-trigger' style='width:50%'></div>
									</div>
								</div>
								<div class='ojd-flex-static'>
									<input class='ojd-input' type='text'/>
								</div>
							</div>
						</div>
						<div class='ojd-inline-group ojd-tester-trigger-group '>
							<div class='ojd-sidebar-flex-row'>
								<div class='ojd-flex-static'>
									<label class='ojd-label'>Axis 1:</label>
								</div>
								<div class='ojd-flex-static'>
									<div class='ojd-tester-trigger-wrapper'>
										<div class='ojd-tester-trigger' style='width:50%'></div>
									</div>
								</div>
								<div class='ojd-flex-static'>
									<input class='ojd-input' type='text'/>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>