<div class='ojd-sidebar-flex-row'>
	<div class='ojd-flex-fixed'>
		<button id='ojd-toolbar-reload' class='ojd-button ojd-toolbar-button'><i class="fas fa-sync-alt"></i> Reload</button>
		<button id='ojd-toolbar-dev' class='ojd-button ojd-toolbar-button'><i class="fas fa-cog"></i> Dev Tools</button>
		<button id='ojd-toolbar-reset' class='ojd-button ojd-toolbar-button'><i class="fas fa-exclamation-triangle"></i> Reset Config</button>
	</div>
	<div class='ojd-flex-fixed'><div class='ojd-toolbar-spacer'></div></div>
	<div class='ojd-flex-fixed'>
		<button class='ojd-button ojd-toolbar-button ojd-external-link' href='https://ojdproject.com/user-guide'><i class="fas fa-life-ring"></i> User Guide</button>
		<button class='ojd-button ojd-toolbar-button ojd-external-link' href='https://ojdproject.com/developer-guide'><i class="fas fa-laptop-code"></i> Developer Guide</button>
		<button id='ojd-toolbar-about' class='ojd-button ojd-toolbar-button'><i class="fas fa-question-circle"></i> About</button>
	</div>
	<!--<div class='ojd-flex-fixed'><div class='ojd-toolbar-spacer'></div></div>
	<div class='ojd-flex-fixed'>
		<div class='ojd-toolbar-form-padding'>
			<label class='ojd-label'>Joystick Port:</label>
		</div>
	</div>
	<div class='ojd-flex-fixed'>
		<div class='ojd-toolbar-form-padding'>
			<select id='ojd-select-input' class='ojd-input'>
				<option value='0'>Joystick 1</option>
				<option value='1'>Joystick 2</option>
				<option value='2'>Joystick 3</option>
				<option value='3'>Joystick 4</option>
			</select>
		</div>
	</div>-->
	<div class='ojd-flex-grow'></div>
	<div id='ojd-toolbar-download' class='ojd-flex-fixed' style='display:none'>
		<button class='ojd-button ojd-toolbar-button ojd-external-link' href='https://ojdproject.com'><i class="fas fa-download"></i> Update Avaliable</button>
	</div>
	<div class='ojd-flex-fixed'>
		<img class='ojd-toolbar-logo' src='../../app/images/logo.png' alt='Open Joystick Display'/> 
	</div>
	
</div>