<div class='ojd-sidebar-flex-row'>
	<div class='ojd-flex-grow'>
		<button class='ojd-button ojd-toolbar-button'><i class="fas fa-sync-alt"></i> Reload</button>
		<button class='ojd-button ojd-toolbar-button'><i class="fas fa-cog"></i> Dev Tools</button>
		<button class='ojd-button ojd-toolbar-button'><i class="fas fa-exclamation-triangle"></i> Reset Config</button>
		<button class='ojd-button ojd-toolbar-button'><i class="fas fa-life-ring"></i> User Guide</button>
		<button class='ojd-button ojd-toolbar-button'><i class="fas fa-question-circle"></i> About</button>
	</div>
	<div class='ojd-flex-grow'>

	</div>
	<div class='ojd-flex-fixed'>
		<img class='ojd-toolbar-logo' src='../../app/images/logo.png' alt='Open Joystick Display'/> 
	</div>
	<div class='ojd-flex-fixed' style='display:none'>
		<button class='ojd-button ojd-toolbar-button'><i class="fas fa-download"></i> Update Avaliable</button>
	</div>

</div>