.theme-button.active{
	fill:#ff4ca6 !important;
}
.theme-label.active{
	fill:#ff4ca6 !important;
}
.theme-label.active *{
	fill:#ff4ca6 !important;
}
.theme-label-contrast.active{
	fill:white !important;
}
.theme-label-contrast.active *{
	fill:white !important;
}