.gc {
	width:400px;
	height:275px;
	font-size:16px;
	font-weight:bold;
}
.gc-dpad {
	position:absolute;
	bottom:0px;
	left:50px;
	width:100px;
	height:100px;
	border:3px solid #666;
	border-radius:100%;


}
.gc-dpad > div {
	position:absolute;
	line-height:0px;
	font-size:50px;
	height:50px;
	width:50px;
	padding:0px;
	margin:0px;
	text-align:center;
	color:#666;
}
.gc-dpad > div.active {
	color:white;
}

.gc-up {
	top:-6px;
	left:22px;
}
.gc-down {
	bottom:-2px;
	left:22px;
}
.gc-left {
	top:22px;
	left:-5px;
}
.gc-right {
	top:22px;
	right:-5px;
}

.gc-analog-wrapper {
	position:absolute;
	bottom:115px;
	left:0px;
	height:100px;
	width:100px;
	border:3px solid #666;
	border-radius:100%;
}
.gc-analog {
	position:absolute;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	background:#666;
	border-radius:100%;
}
.gc-analog.active {
	background:white;
}

.gc-cstick-wrapper {
	position:absolute;
	bottom:0px;
	left:250px;
	height:100px;
	width:100px;
	border:3px solid #666;
	border-radius:100%;
}
.gc-cstick {
	position:absolute;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	background:#666;
	border-radius:100%;
}
.gc-cstick.active {
	background:white;
}

.gc-buttons {
	position:absolute;
	right:0px;
	bottom:100px;
	width:125px;
	height:115px;

}

.gc-buttons > div {
	position:absolute;
	line-height:0px;
	background:#666;
	text-align:center;
	color:black;
}
.gc-buttons > div.active {
	background:white;
}
div.gc-b {
	border-radius:100%;
	bottom:10px;
	left:0px;
	font-size:10px;
	width:30px;
	padding:15px 0px;
}

div.gc-a {
	border-radius:100%;
	bottom:20px;
	left:30px;
	font-size:16px;
	width:60px;
	padding:30px 0px;
}


div.gc-y {
	border-radius:100%;
	top:0px;
	right:50px;
	font-size:10px;
	width:30px;
	padding:15px 0px;
}

div.gc-x {
	border-radius:100%;
	top:50px;
	right:0px;
	font-size:10px;
	width:30px;
	padding:15px 0px;
}

div.gc-z {
	border-radius:100%;
	top:10px;
	right:10px;
	font-size:10px;
	width:30px;
	padding:15px 0px;
}

div.gc-start {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-10px;
	margin-left:-25px;
	line-height:0px;
	background:#666;
	text-align:center;
	font-size:12px;
	color:black;
	width:50px;
	padding:10px 0px;
	border-radius:10px;
}
div.gc-start.active {
	background:white;
}

div.gc-trigger-wrapper {
	position:absolute;
	width:150px;
	height:35px;
}
div.gc-trigger {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:100%;
	min-height:60%;
	background:#666;
	padding:5px;
	border-radius:20px 20px 0 0;
	text-align:center;
	color:black;
}

div.gc-trigger.trigger-active {
	background:white;
}

div.gc-trigger.active {
	height:60%;
	background:white;
}

div.gc-r-trigger{
	right:0px;
}