.snes {
	position:relative;
	top:0px;
	left:0px;
	width:500px;
	height:100px;

	font-size:16px;
	font-weight:bold;

}
.snes-button-r {
	position:absolute;
	right:0px;
	top:0px;
	width:40px;
	padding:50px 0px;
	line-height:0px;
	text-align:center;
	background:#666;
	color:black;
	border-radius:5px;
}
.snes-button-l {
	position:absolute;
	left:0px;
	right:0px;
	width:40px;
	padding:50px 0px;
	line-height:0px;
	text-align:center;
	background:#666;
	color:black;
	border-radius:5px;
}
.snes-button-r.active,.snes-button-l.active {
	background:white;
}
.snes-dpad {
	position:absolute;
	bottom:3px;
	left:50px;
	width:95px;
	height:95px;
}
.snes-dpad > div {
	position:absolute;
	line-height:0px;
	font-size:50px;
	height:50px;
	width:50px;
	padding:0px;
	margin:0px;
	text-align:center;
	color:#666;
}
.snes-dpad > div.active {
	color:white;
}

.snes-up {
	top:-6px;
	left:22px;
}
.snes-down {
	bottom:-2px;
	left:22px;
}
.snes-left {
	top:22px;
	left:-5px;
}
.snes-right {
	top:22px;
	right:-5px;
}

.snes-buttons-group {
	position:absolute;
	top:0px;
	right:50px;
	height:100px;
	width:100px;
}

.snes-button {
	position:absolute;
	padding:20px 0px;
	width:40px;
	background:#666;
	color:black;
	display:inline-block;
	line-height:0 !important;
	border-radius:100%;
	text-align:center;
}
.snes-button.active {
	background:white;
}
.snes-button .fa {
	font-size:16px;
	line-height:0px !important;
}

.snes-button-b {
	bottom:0px;
	left:50%;
	margin-left:-20px;
}

.snes-button-a {
	right:0px;
	top:50%;
	margin-top:-20px;
}

.snes-button-y {
	left:0px;
	top:50%;
	margin-top:-20px;
}

.snes-button-x {
	top:0px;
	left:50%;
	margin-left:-20px;
}


.snes-dpad-group {
	position:absolute;
	top:0px;
	left:50px;
	height:100px;
	width:100px;
}

.snes-button-down {
	bottom:0px;
	left:50%;
	margin-left:-20px;
}

.snes-button-right {
	right:0px;
	top:50%;
	margin-top:-20px;
}

.snes-button-left {
	left:0px;
	top:50%;
	margin-top:-20px;
}

.snes-button-up {
	top:0px;
	left:50%;
	margin-left:-20px;
}

.snes-buttons-center-group {
	position:absolute;
	top:50%;
	left:50%;
	width:125px;
	height:20px;
	margin-left:-65px;
	margin-top:-10px;
}

.snes-center-button {
	position:absolute;
	padding:10px 0px;
	width:60px;
	background:#666;
	color:black;
	display:inline-block;
	line-height:0 !important;
	border-radius:10px;
	text-align:center;
}
.snes-center-button.active {
	background:white;
}

.snes-button-start{
	right:0px;
}