.theme-button.active{
	fill:#5a2ca0 !important;
}
.theme-label.active{
	fill:#5a2ca0 !important;
}
.theme-label.active *{
	fill:#5a2ca0 !important;
}
.theme-label-contrast.active{
	fill:white !important;
}
.theme-label-contrast.active *{
	fill:white !important;
}
.theme-stroke.active{
	stroke:white !important;
}
.theme-stroke.active *{
	stroke:white !important;
}