.theme {
	position:relative;
	top:0px;
	left:0px;
	width:500px;
	height:300px;
}
.theme-button.active{
	fill:white !important;
}

.theme-label.active{
	fill:white !important;
}
.theme-label.active *{
	fill:white !important;
}
.theme-label-contrast.active{
	fill:black !important;
}
.theme-label-contrast.active *{
	fill:black !important;
}
.theme-stroke.active{
	stroke:black !important;
}
.theme-stroke.active *{
	stroke:black !important;
}


.theme-analog-wrapper {
	position:absolute;
	top:114px;
	left:66px;
	height:70px;
	width:70px;
	border-radius:100%;
}
.theme-analog-right-wrapper {
	position:absolute;
	top:199px;
	left:273px;
	height:70px;
	width:70px;
	border-radius:100%;
}
.theme-analog {
	position:absolute;
	top:50%;
	left:50%;
	width:60px;
	height:60px;
	margin-left:-30px;
	margin-top:-30px;
	background:#333;
	border-radius:100%;
}
.theme-analog.active {
	background:white;
}
