.xbox {
	width:410px;
	height:300px;
	font-size:16px;
	font-weight:bold;
	flex:none;
}
.xbox-dpad {
	position:absolute;
	bottom:0px;
	left:75px;
	width:100px;
	height:100px;
	border:3px solid #666;
	border-radius:100%;


}
.xbox-dpad > div {
	position:absolute;
	line-height:0px;
	font-size:50px;
	height:50px;
	width:50px;
	padding:0px;
	margin:0px;
	text-align:center;
	color:#666;
}
.xbox-dpad > div.active {
	color:white;
}

.xbox-up {
	top:-6px;
	left:22px;
}
.xbox-down {
	bottom:-2px;
	left:22px;
}
.xbox-left {
	top:22px;
	left:-5px;
}
.xbox-right {
	top:22px;
	right:-5px;
}

.xbox-analog-wrapper {
	position:absolute;
	bottom:115px;
	left:0px;
	height:100px;
	width:100px;
	border:3px solid #666;
	border-radius:100%;
}
.xbox-analog {
	position:absolute;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	background:#666;
	border-radius:100%;
}
.xbox-analog.active {
	background:white;
}

.xbox-cstick-wrapper {
	position:absolute;
	bottom:0px;
	left:225px;
	height:100px;
	width:100px;
	border:3px solid #666;
	border-radius:100%;
}
.xbox-cstick {
	position:absolute;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	background:#666;
	border-radius:100%;
}
.xbox-cstick.active {
	background:white;
}

.xbox-buttons {
	position:absolute;
	right:0px;
	bottom:90px;
	width:115px;
	height:115px;

}

.xbox-buttons > div {
	position:absolute;
	line-height:0px;
	background:#666;
	text-align:center;
	color:black;
}
.xbox-buttons > div.active {
	background:white;
}

div.xbox-button {
	border-radius:100%;
	width:40px;
	padding:20px 0px;
	font-size:14px;
}
div.xbox-b {
	top:24px;
	left:75px;
}

div.xbox-a {
	bottom:10px;
	left:35px;
}

div.xbox-y {
	top:-15px;
	left:35px;
}

div.xbox-x {
	top:24px;
	left:-5px;
}

div.xbox-z {
	border-radius:100%;
	top:10px;
	right:10px;
	font-size:10px;
	width:30px;
	padding:15px 0px;
}

div.xbox-start {
	position:absolute;
	top:125px;
	left:240px;
	line-height:0px;
	background:#666;
	text-align:center;
	font-size:14px;
	color:black;
	width:25px;
	padding:5px 0px;
	border-radius:100%;
}
div.xbox-select {
	position:absolute;
	top:125px;
	left:130px;
	line-height:0px;
	background:#666;
	text-align:center;
	font-size:14px;
	color:black;
	width:25px;
	padding:5px 0px;
	border-radius:100%;
}
div.xbox-xbox {
	background-image:url("../images/xbox.png");
	background-size:40px 40px;
	background-repeat:no-repeat;
	background-position:center center;

	position:absolute;
	top:115px;
	left:173px;
	line-height:0px;
	background-color:#666;
	text-align:center;
	font-size:14px;
	height:50px;
	width:50px;
	border-radius:100%;
}
div.xbox-start.active,div.xbox-select.active,div.xbox-xbox.active {
	background-color:white;
}

div.xbox-trigger-wrapper {
	position:absolute;
	top:30px;
	width:150px;
	height:25px;
}
div.xbox-trigger {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#666;
	padding:5px;
	border-radius:20px 20px 0 0;
	text-align:center;
	color:black;
}

div.xbox-trigger.trigger-active {
	background:white;
}

div.xbox-trigger.active {
	height:20px;
	background:white;
}

div.xbox-r-trigger{
	right:0px;
}



div.xbox-trigger2-wrapper {
	position:absolute;
	top:0px;
	width:100px;
	height:25px;
}
div.xbox-trigger2 {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#666;
	padding:5px;
	border-radius:20px 20px 0 0;
	text-align:center;
	color:black;
}

div.xbox-trigger2.trigger-active {
	background:white;
}

div.xbox-trigger2.active {
	height:20px;
	background:white;
}

div.xbox-r2-trigger{
	right:0px;
}