<!DOCTYPE html>
<html>
<head>
	
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'self'">-->
    <meta charset="UTF-8">
    <title>OJD - Open Joystick Display</title>

    <link rel="stylesheet" type="text/css" href="../../src/vendor/font-awesome/css/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../src/stylesheets/styles.css" media="screen" />

    <script type='text/javascript' src='../../src/js/index.js'></script>

    <style id='ojd-css-overrides'></style>

</head>
<body></body>
</html>
