<div class='ojd-sidebar ojd-sidebar-left' id='ojd-interface-tester'>
	<div class='ojd-sidebar-row' id='ojd-tester'>
		<div class='ojd-sidebar-section-header'>Input Tester</div>
		<div class='ojd-sidebar-section' id='ojd-tester-content'></div>
	</div>
</div>

<script id='ojd-template-tester-empty' type='text/html'>
	<p>No joystick connected. Please connect a joystick and press a button to activate.</p>
</script>

<script id='ojd-template-tester' type='text/html'>
	<div>
		<h1>Information</h1>
		<p>${information}</p>
	</div>
	<div>
		<h1>Buttons</h1>
		<div class='ojd-sidebar-subsection' id='ojd-tester-button-wrapper'>${buttons}</div>
	</div>
	<div>
		<h1>Two Dimensional Axis (Directional)</h1>
		<div class='ojd-sidebar-subsection' id='ojd-tester-directionals-wrapper'>${directionals}</div>
	</div>
	<div>
		<h1>One Dimensional Axis (Throttle/Tiggers)</h1>
		<div class='ojd-sidebar-subsection' id='ojd-tester-linear-wrapper'>${throttle}</div>
	</div>
</script>

<script id='ojd-template-tester-button' type='text/html'>
	<div class='ojd-tester-button' ojd-raw-button='${index}'>${index}</div>
</script>

<script id='ojd-template-tester-directional' type='text/html'>
	<div class='ojd-tester-directional-wrapper'>
		<div class='ojd-tester-analog'>
			<div class='ojd-analog' ojd-raw-analog='${index}'></div>
		</div>
		<div>
			<label class='ojd-label'>X Axis <span ojd-raw-analog-axes-x='${index}'></span>:</label>
			<input class='ojd-input' type='text' readonly='readonly' ojd-raw-analog-x='${index}' value='0'/>
		</div>

		<div>
			<label class='ojd-label'>Y Axis <span ojd-raw-analog-axes-y='${index}'></span>:</label>
			<input class='ojd-input' type='text' readonly='readonly' ojd-raw-analog-y='${index}' value='0'/>
		</div>
	</div>
</script>

<script id='ojd-template-tester-throttle' type='text/html'>
	<div class='ojd-tester-throttle-wrapper'>
		<div>
			<label class='ojd-label'>Axis ${index}:<label>
		</div>
		<div class='ojd-tester-throttle'>
			<div class='ojd-throttle' ojd-raw-axes='${index}'></div>
		</div>
		<div>
			<input class='ojd-input' type='text' readonly='readonly' ojd-raw-axes-value='${index}' value='0'/>
		</div>
	</div>
</script>