<div id='ojd-interface'>
	<div class='ojd-toolbar' id='ojd-toolbar-top'>
		<div class='ojd-group'>
			<label class='ojd-label'>Theme:</label>
			<select class='ojd-select' id="ojd-select-theme"></select>
			<button id='ojd-select-theme-folder' class='ojd-button' type='button'><i class='fa fa-fw fa-folder'></i></button>
		</div>
		<div class='ojd-seperator'></div>
		<div class='ojd-group'>
			<label class='ojd-label' >Mapping:</label>
			<select class='ojd-select' id="ojd-select-mapping"><option value="0"></select>
		</div>
		<div class='ojd-group'>
			<button id='ojd-map-new' class='ojd-button' type='button'><i class='fa fa-fw fa-star'></i> New</button>
			<button id='ojd-map-clone' class='ojd-button' type='button'><i class='fa fa-fw fa-copy'></i> Clone</button>
			<button id='ojd-map-delete' class='ojd-button' type='button'><i class='fa fa-fw fa-trash'></i> Delete</button>
		</div>
	</div>
	<div class='ojd-toolbar' id='ojd-toolbar-bottom'>

		<div class='ojd-group'>
			<button id='ojd-top-toggle' class='ojd-button' type='button'><i class='fa fa-fw fa-window-restore'></i> Always on Top</button>
		</div>
		<div class='ojd-seperator'></div>
		<div class='ojd-group'>
			<button id='ojd-chroma-toggle' class='ojd-button' type='button'><i class='fa fa-fw fa-paint-brush'></i> Enable Chroma</button>
		</div>
		<div class='ojd-group' id='ojd-chroma'>
			<label class='ojd-label'>Color:</label>
			<input maxlength='7' placeholder='#000000' class='ojd-input' id='ojd-chroma-color'/>
			<button id='ojd-select-select-color' class='ojd-button' type='button'><i class='fa fa-fw fa-eyedroper'></i></button>
		</div>
		<div class='ojd-seperator'></div>
		<div class='ojd-group'>
			<label class='ojd-label'>Zoom (<span id='ojd-zoom-percent'></span>%):</label>
			<button id='ojd-zoom-out' class='ojd-button' type='button'><i class='fa fa-fw fa-minus'></i></button>
			<button id='ojd-zoom-in' class='ojd-button' type='button'><i class='fa fa-fw fa-plus'></i></button>
			
		</div>
		<div class='ojd-seperator'></div>
		<div class='ojd-group'>
			<button id='ojd-reload-toggle' class='ojd-button' type='button'><i class='fa fa-fw fa-refresh'></i> Reload</button>
		</div>
		<div class='ojd-group'>
			<button id='ojd-dev-toggle' class='ojd-button' type='button'><i class='fa fa-fw fa-cog'></i> Dev Tools</button>
		</div>
		<div class='ojd-group'>
			<button id='ojd-reset-toggle' class='ojd-button' type='button'><i class='fa fa-fw fa-exclamation-triangle'></i> Reset Config</button>
		</div>
		<div class='ojd-seperator'></div>
		<div class='ojd-group'>
			<button class='ojd-button ojd-external-link' href='https://ojdproject.com/user-guide' type='button'><i class='fa fa-fw fa-life-ring'></i> User Guide</button>
			<button id='ojd-about-toggle' class='ojd-button ojd-about-toggle' user-guide' type='button'><i class='fa fa-fw fa-question-circle'></i> About</button>
		</div>
	</div>
	
</div>


<div id='ojd-notification'></div>