.snes-button.active{
	fill:red !important;
}
.snes-label.active{
	fill:red !important;
}
.snes-label.active *{
	fill:red !important;
}
.snes-label-contrast.active{
	fill:white !important;
}
.snes-label-contrast.active *{
	fill:white !important;
}