.snes-button.active{
	fill:#5a2ca0 !important;
}
.snes-label.active{
	fill:#5a2ca0 !important;
}
.snes-label.active *{
	fill:#5a2ca0 !important;
}
.snes-label-contrast.active{
	fill:white !important;
}
.snes-label-contrast.active *{
	fill:white !important;
}