.snes-button.active{
	fill:#ff4ca6 !important;
}
.snes-label.active{
	fill:#ff4ca6 !important;
}
.snes-label.active *{
	fill:#ff4ca6 !important;
}
.snes-label-contrast.active{
	fill:white !important;
}
.snes-label-contrast.active *{
	fill:white !important;
}