/*@color-font:#FFF;
@color-background:#000;
@color-form:#000;
@color-lightest:#797e8f;
@color-lighter:#6d7182;
@color-light:#616574;
@color-normal:#3F414A;
@color-dark:#33353c;
@color-darker:#28292E;
@color-darkest:#1c1d21;
@color-accent:#FF9900;
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
option {
  outline: 0;
}
body {
  background: #000;
  color: #FFF;
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, Sans-Serif, Monospace;
  font-size: 14px;
}
strong {
  font-weight: bold;
}
button.ojd-button {
  cursor: pointer;
  background: transparent;
  color: #FFF;
  border: 0px;
  font-size: 14px;
  padding: 5px 6px 4px 6px;
  border-radius: 0px;
  outline: 0px;
  transition: 0.25s;
}
button.ojd-button:hover {
  background: #555;
}
button.ojd-button.ojd-active {
  border-color: #222 #555 #555 #222;
  background: #555;
  color: #FFF;
}
select.ojd-select {
  cursor: pointer;
  font-size: 14px;
  background: #111;
  color: #FFF;
  border: 1px solid #222;
  padding: 3px 5px;
  padding-bottom: 5px;
}
option.ojd-option-header {
  font-weight: bold;
  border-bottom: 1px solid #777;
  background: #444;
  padding: 5px 0px;
}
option.ojd-option-header:hover {
  background: #444;
}
input.ojd-input {
  border: 1px solid #111;
  background: #111;
  color: #FFF;
  padding: 5px;
}
label.ojd-label {
  display: inline-block;
  padding: 13px 0px;
  line-height: 0px;
}
div.ojd-sidebar {
  z-index: 998;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 30%;
  height: 100%;
  width: 400px;
  background: #444;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #222;
  padding-top: 74px;
  overflow: auto;
}
div.ojd-sidebar::-webkit-scrollbar {
  width: 10px;
  background: #333;
}
div.ojd-sidebar::-webkit-scrollbar-thumb {
  background: #555;
}
div.ojd-sidebar.ojd-sidebar-left {
  left: 0px;
  border-left: 0px;
  border-right: 1px solid #222;
}
div.ojd-sidebar div.ojd-sidebar-row {
  flex-grow: 1;
}
div.ojd-sidebar div.ojd-sidebar-section-header {
  background: #111;
  padding: 5px;
}
div.ojd-sidebar div.ojd-sidebar-section {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
div.ojd-sidebar div.ojd-sidebar-subsection {
  padding: 10px;
}
div.ojd-sidebar div.ojd-sidebar-subsection-toolbar {
  display: flex;
  padding: 5px 0px;
}
div.ojd-sidebar div.ojd-sidebar-subsection-toolbar > div {
  padding: 0px 5px;
}
div.ojd-sidebar div.ojd-sidebar-subsection-toolbar > div.ojd-sidebar-subsection-toolbar-grow {
  flex-grow: 1;
}
div.ojd-sidebar h1 {
  background: #222;
  padding: 5px;
  font-size: 12px;
}
div.ojd-sidebar h2 {
  display: block;
  background: #555;
  padding: 5px;
  font-size: 12px;
}
div.ojd-sidebar p {
  padding: 10px;
  margin: 0px;
}
div.ojd-modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: #444;
  border: 1px solid #555;
  margin: 0px auto;
}
div.ojd-modal div.ojd-modal-handler {
  user-select: none;
  position: relative;
  top: 0px;
  left: 0px;
  background: #111;
  padding: 5px;
}
div.ojd-modal div.ojd-modal-handler button.ojd-modal-close {
  float: right;
  background: 0px;
  padding: 0px;
  border: 0px;
  color: #FFF;
  cursor: pointer;
}
div.ojd-modal div.ojd-modal-handler button.ojd-modal-close:hover {
  color: #9954bb;
}
div.ojd-modal div.ojd-modal-content {
  overflow: auto;
  padding: 20px;
}
#ojd-interface {
  user-select: none;
  width: 100%;
  min-width: 1024px;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
}
#ojd-interface .ojd-toolbar {
  padding: 5px;
  line-height: 0px;
  width: 100%;
  display: flex;
}
#ojd-interface .ojd-toolbar select {
  padding-bottom: 3px;
}
#ojd-interface .ojd-toolbar > div.ojd-seperator {
  border-left: 3px dotted #777;
  width: 1px;
  padding-left: 5px;
  margin: 5px 0px;
  margin-left: 3px;
  opacity: 0.35;
}
#ojd-interface .ojd-toolbar > div.ojd-group {
  padding: 0px 5px;
}
#ojd-interface #ojd-chroma-color {
  width: 65px;
}
#ojd-interface #ojd-toolbar-top {
  background: #444;
  border-bottom: 1px solid #222;
}
#ojd-interface #ojd-toolbar-bottom {
  background: #222;
  border-bottom: 1px solid #111;
}
#ojd-theme {
  user-select: none;
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#ojd-theme #ojd-theme-contents {
  position: relative;
  top: 0px;
  left: 0px;
  min-height: 50px;
  min-width: 50px;
  display: block;
  flex: none;
}
#ojd-theme .ojd-theme-flex-column-container {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
}
#ojd-theme .ojd-theme-flex-box {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-grow: 1;
}
#ojd-interface-map {
  user-select: none;
}
#ojd-interface-map #ojd-mapper .ojd-sidebar-subsection-toolbar input {
  width: 300px;
}
#ojd-interface-map #ojd-mapper #ojd-mapper-buttons .ojd-mapper-button-row {
  display: block;
  padding: 5px;
}
#ojd-interface-map #ojd-mapper #ojd-mapper-buttons .ojd-mapper-button-row div {
  display: inline-block;
}
#ojd-interface-map #ojd-mapper #ojd-mapper-buttons .ojd-mapper-button-row div select {
  width: 200px;
}
#ojd-interface-map #ojd-mapper #ojd-mapper-buttons .ojd-mapper-button-row div input {
  width: 75px;
}
#ojd-interface-map #ojd-mapper #ojd-mapper-buttons .ojd-mapper-button-row div:last-child {
  float: right;
  padding-right: 5px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-add {
  padding: 10px;
  text-align: right;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row {
  border-bottom: 1px solid #666;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div {
  padding: 5px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div.ojd-row-one div {
  display: inline-block;
  padding: 5px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div.ojd-row-one div input {
  width: 30px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div.ojd-row-one div label {
  padding-right: 3px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div.ojd-row-one div:last-child input {
  width: 50px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div.ojd-row-two div {
  display: inline-block;
  padding: 5px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-directional-row > div.ojd-row-delete {
  padding: 5px;
  padding-right: 10px;
  text-align: right;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-trigger-row {
  border-bottom: 1px solid #666;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-trigger-row > div.ojd-row-one div {
  display: inline-block;
  padding: 5px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-trigger-row > div.ojd-row-one div input {
  width: 50px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-trigger-row > div.ojd-row-one div label {
  padding-right: 3px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-trigger-row > div.ojd-row-two div {
  display: inline-block;
  padding: 5px;
}
#ojd-interface-map #ojd-mapper .ojd-mapper-trigger-row > div.ojd-row-delete {
  padding: 5px;
  padding-right: 10px;
  text-align: right;
}
#ojd-interface-tester {
  user-select: none;
}
#ojd-interface-tester #ojd-tester {
  flex-grow: 0;
}
#ojd-interface-tester #ojd-tester .ojd-tester-button {
  display: inline-block;
  background: #111;
  color: #FFF;
  font-size: 12px;
  line-height: 0px;
  padding: 15px 0px;
  width: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
}
#ojd-interface-tester #ojd-tester .ojd-tester-button.active {
  color: #FFF;
  background: #9954bb;
}
#ojd-interface-tester #ojd-tester .ojd-tester-analog {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 80px;
  background: #111;
  overflow: hidden;
}
#ojd-interface-tester #ojd-tester .ojd-analog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  margin-top: -3px;
  background: #FFF;
}
#ojd-interface-tester #ojd-tester .ojd-tester-directional-wrapper {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 80px;
}
#ojd-interface-tester #ojd-tester .ojd-tester-directional-wrapper input {
  width: 70px;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle-wrapper {
  display: flex;
  margin-bottom: 10px;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle-wrapper > div:nth-child(1) {
  flex-grow: 0;
  width: 100px;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle-wrapper > div:nth-child(2) {
  margin: 0px 10px;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle-wrapper > div:nth-child(3) {
  flex-grow: 0;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle-wrapper > div:nth-child(3) input {
  width: 80px;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle {
  position: relative;
  top: 4px;
  left: 0px;
  height: 20px;
  background: #111;
  width: 100%;
}
#ojd-interface-tester #ojd-tester .ojd-tester-throttle .ojd-throttle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: #9954bb;
}
#ojd-about {
  position: fixed;
  z-index: 999;
  background: #000000CC;
  width: 100%;
  height: 100%;
  display: none;
}
#ojd-about a {
  color: #FFF;
}
#ojd-about p {
  line-height: 1.4em;
  padding-top: 20px;
}
#ojd-about h1 {
  font-size: 20px;
}
#ojd-about pre {
  margin-top: 5px;
  line-height: 1.4em;
  padding: 10px;
  width: 100%;
  height: 200px;
  background: #222;
  border: 1px solid #111;
  overflow: auto;
}
