.theme-analog-wrapper {
	position:absolute;
	top:140px;
	left:77px;
	height:100px;
	width:100px;
	border-radius:100%;
}
.theme-analog {
	position:absolute;
	top:50%;
	left:50%;
	width:80px;
	height:80px;
	margin-left:-40px;
	margin-top:-40px;
	background:#333;
	border-radius:100%;
	border:4px solid #333;
}
.theme-analog.active {
	border:4px solid #FFF;
	background:white;
}