.theme-button.active{
	fill:#fdab3a !important;
}
.theme-label.active{
	fill:white !important;
}
.theme-label.active *{
	fill:white !important;
}
.theme-label-contrast.active{
	fill:white !important;
}
.theme-label-contrast.active *{
	fill:white !important;
}